<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News</title>

    <style>
        body {
            background-color: gray;
        }

        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: cent
        }
    </style>
</head>
<body>
    <h1>Fake News</h1>
    <h3>Abdullah, Umar, Ashad, Wasey, Ajwad </h3>

    <p>We created a model that can accurately detect</p>
</body>
</html>